.container {
	height: 100vh;
	display: flex;
	flex-direction: column;

	.header {
		padding-left: 15px;
		border-bottom: 1px solid #ddd;

		.logo {
			font-size: 20px;
		}
	}

	.context {
		flex: 1;
		display: flex;

		justify-content: center;
		align-items: center;

		.search_box {
			flex: 1;
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			max-width: 800px;

			.search_result {
				flex: 1;

				.item {
					background: #9991;
                    border-radius: 10px;
                    padding: 15px;
                    margin-top: 35px;

                    .problem {
                        font-size: 18px;
                        margin: 0;
                        margin-bottom: 5px;
                        font-weight: 200;
                    }

                    .answer {
                        font-size: 16px;
                        color: #000;
                    }

				}
			}
		}
	}

	.footer {
		display: flex;
		justify-content: center;
		padding: 15px 0;
		background: #0001;
	}
}
